.review-list .list-group-item {
  padding: 0.25rem 0.75rem;
}

.review-list-item {
  font-size: 1.25rem;
}

.review-list-item button {
  width: 35px;
  margin: 3px;
}

.review-list-item-content {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.review-list-item.done .review-list-item-content {
  text-decoration: line-through;
}

.review-list-item.important .review-list-item-content {
  font-weight: bold;
  color: steelblue;
}

.search-input {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
}

.review-app {
  margin: 2rem auto 0;
  flex: 1;
  /* max-width: 400px; */
}

.top-panel {
  margin: 1rem 0;
}

.app-header {
  align-items: flex-end;
}

.app-header h1 {
  flex-grow: 1;
}

.app-header h2 {
  font-size: 1.2rem;
  color: grey;
}

.btn button {
      font-size: 1.2rem;
    color:aquamarine
}

